/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Nerko+One&display=swap');

/* detail */
  :root{
    --primaryColor :#efe7aedd;
    
    --Wbg:#fff;
    --Mcolor:#DEB887;

    /* for the black opacity background */
    --color1:rgb(0,0,0);  /* Fallback color */
    --color2:rgba(0,0,0, 0.4);/* Black w/opacity/see-through */
  }
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
  }
  html{
    overflow-x: hidden;
  }

  .pres{
    color: var(--primaryColor);
  }
  .hour{
    color: var(--primaryColor);
    font-family: 'Major Mono Display', monospace;
    font-size: 2em;
    text-align: center;
    margin-top: 1em;
  }
  .btn:focus{
    display: none;
  }

/* utilities */
  .text{
    color:var(--primaryColor);
  }
  

  .body{
    background-image: url('../img/bg.jpg');
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-color: #413f52;
    background-size: cover;
    width: 100%;
    overflow-x: hidden;
    display: block;
  }
  .bodyM{
   
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
    background-repeat: no-repeat;
    background-color: #413f52;
    background-size: cover;

    overflow-x: hidden;
    display: block;
  }

  .flex{
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .container{
    display: flex;
    align-items: center;
    content: center;
    justify-content: center;
    padding: 2em;
    background-color: var(--color1);
    background-color: var(--color2); 
    font-weight: bold;
    text-align: center;
    border-radius: 4em 1em;
    width: auto;
    margin-top:1em;
    color:var(--primaryColor);
  }
  a{
    text-decoration: none;
  }
  .search-panel-wrapper{
    display: flex;
    justify-content:center;
    min-height: 40vh;
    background-image: url('../img/bg-search-panel.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom:2em;
  }
  .search-panel{
    
    padding-top:auto ;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .post-wrapper{
    display:grid;
    grid-template-columns:repeat(auto-fit,200px);
    gap: 20px;
    justify-content: space-around;
    padding-bottom: 50px;
    
  }
  .thumbnail{
    display:block;
    width:100%;
    height:170%;
    height: 300px;
    object-fit: cover;
  }
  
  .post-preview{
    background-color:#D6CFC5;
    padding:15px;
    height: 300px;
    margin-bottom:1em;
  }
  .post-tittle{
    color: black;
  }
  .post-intro{
    color: #4b5156;
    font-size:14px;
  }
  .desc{
    height: 200px;
    overflow: hidden;
    overflow-y: scroll ;
    margin-bottom:1em;
  }

  .show{
    width: 250px;
   height:250px;
    overflow-x: auto;
    padding: 20px;
  }
  .black{

    color: black;
  }
  .price{
    margin-left:2em;
    font-size: 15px;
  }
.display{
  color: rgb(38, 38, 33);
}
.transparent {
  border: 1px solid var(--primaryColor);
  color: var(--primaryColor);
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.show {
  width: auto;
  height: auto;
  /* overflow-x: auto; */
  padding: 20px;
}
/* nav-bar */
  .navbar-brand{
    font-size:2em;
    color:var(--primaryColor);
    padding-left:40px ;
  }
  .logonav{
    width:150px;
  }
  .navbar-transparent{
    display:flex;
    justify-content:space-between;
    align-items:center;
    min-height:10vh;
  }
  .nav-links{
    display:flex;
    justify-content:space-around;
    width:50%;
  }
  .nav-links li{
  list-style: none;
  }
  .nav-links li a{
    color: var(--primaryColor);
  }
  .burger{
    display: none;
    cursor: pointer;
  }
  .fas.fa-bars{ 
 color: var(--primaryColor);
  }
  .btn.btn-transparent{
    border:1px solid var(--primaryColor);
    color: var(--primaryColor)
  }
/* Specific to each page*/
  /* index.php */
    .info-wrapper{
      display:grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: 
      'l-column r-column';
      padding-top: 1em;
    }
    .l-column{
      grid-area: l-column;
      display: grid;
      align-content: center;
      padding-top: 15px;
      margin:1em;
      background-color: var(--Wbg);
     
    }
    .r-column{
      grid-area: r-column;
      display: grid;
      align-content: center;
      padding-top: 10px;
      margin:1em;
      background-color: var(--Wbg); 
      overflow-x: scroll;
     
    }
    .column-title{
      color:var(--Mcolor);
      border-left:4px solid var(--Mcolor);
      margin-left:1em;
      padding: 0.5em;
    }
    .linkbotright{
      text-decoration: none;
      position: fixed;
      bottom: 0.1rem;
      right: 0.2rem;
      opacity: 0;
    }
    .linkbotright:hover{
      opacity: 0.3;
      color:var(--primaryColor);
    }
    img.d-block.w-100{
      
       height:500px ;
      width:600px ;
    }


  /* contact.php */
    .c-wrapper{
      height: 100%;
      width: 100%;
      display:grid;
      grid-template-columns:1fr 1fr;
      grid-template-areas:
      'icon-c-wrapper form-c-wrapper' ;
      padding-top: 1em;
      justify-content: space-between;
    }
    .icon-c-wrapper{
      grid-area: icon-c-wrapper;
      display: grid;
      align-content: center;
      padding-top: 15px;
      margin:1em;
      /* padding-right:10em; */
     
    }
    .form-c-wrapper{
      grid-area: form-c-wrapper;
      display: grid;
      align-content: center;
      padding-top: 15px;
      margin:1em;
    }
    .fas.fa-envelope-open{
      color:var(--primaryColor);
      font-size:10em;
      padding-bottom:0.1em;
    }
    .fas.fa-envelope{
      color:var(--primaryColor);
      font-size:10em;
      padding-bottom:0.1em;
    }
    .form-group{
      margin-bottom:1em;
    }

  /* connexion.php */
    .far.fa-user{
      color:var(--primaryColor);
      font-size:4em;
      padding-bottom:0.5em;
    }
    span.link{
      text-decoration: none;
      color:var(--primaryColor);
    }
    span.link:hover{
      color:#f552;
      
    }
  /* incription.php */
    .fas.fa-user-plus{
      color:var(--primaryColor);
      font-size:4em;
      padding-bottom:0.5em;
    }
    /* espacemembre.php */
    .es-wrapper{
      height: 100%;
      width: 100%;
      display:grid;
      grid-template-columns:2fr 1fr;
      grid-template-areas:
      'es-wrapper-l es-wrapper-r' ;
      padding-top: 1em;
      justify-content: space-between;
    }
    .es-wrapper-l{
      grid-area: es-wrapper-l;
      display: grid;
      align-content: center;
      padding-top: 15px;
      margin:1em;
      border:1px solid var(--primaryColor);
      background-color: white;
    
     
    }
    .es-wrapper-r{
      grid-area: es-wrapper-r;
      display: grid;
      align-content: flex-start;
      padding-top: 15px;
      margin:1em;
      
    }
    .es-wrapper-r-content {
      background-color: var(--primaryColor);
    }
    .tab-content>.active{
      display: contents;
    }
  /* admin.php */
  .fas.fa-tools{
    color:var(--primaryColor);
    font-size:4em;
    padding-bottom:0.5em;
  }

  #upPage{
    background-color:#260b23;
    color: var(--primaryColor);
    padding: 0.5rem;
    border-radius: 3rem; 
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    opacity: 0.3;
  
    scroll-behavior: smooth;
  
  }
  #upPage:hover{
    opacity: 1;
  }
  /* espaceadmin */

  .list-container{
    background-color:var(--Wbg);
  }
  .list{
    list-style: none;
  }
  .items{
   
    border-bottom:0.1px solid black;
    padding: 1em;
  }
  .items_inscription{
    border-bottom:0.1px solid black;
    padding: 1em;
  }
  .items_vendre{
    border-bottom:0.1px solid black;
    padding: 1em;
  }
  .items_vendre:hover{
    background-color:#acabbf;
  }
  .items_inscription:hover{
    background-color:#acabbf;
  }
  .items:hover{
    background-color:#acabbf;
  }
  .block_vendre{
    display: none;
  }
  .block_inscription{
    display: none;
  }
  /* espaceadmin */


   /*inbox.php*/
  .box-container{
    height: 100%;
    width: 100%;
    display:grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas:
    'es-wrapper-l es-wrapper-r' ;
    padding-top: 1em;
    justify-content: space-between;
  }
  .box-wrapper-l{
    grid-area: es-wrapper-l;
    display: grid;
    align-content: center;
    padding-top: 15px;
    margin:1em;
    border:1px solid var(--primaryColor); 
    align-content: flex-start;
  }
  .box-wrapper-r{
    grid-area: es-wrapper-r;
    display: grid;
 
    padding-top: 15px;
    margin:1em;
    border:1px solid var(--primaryColor);
  }
  .contact-list-container{
    background-color:var(--Wbg);
  }
  .contact-list{
    list-style: none;
  }
  .contact{
   
    border-bottom:0.1px solid black;
    padding: 1em;
  }
  .contact:hover{
    background-color:#acabbf;
  }
  .card-body{
    min-height: 500px;
  }
  /*inbox.php*/

/* medias */



  @media screen and (max-width: 850px){
    body{
      overflow-x: hidden;
    } 
    .nav-links{
      position:absolute;
      right:0px;
      height:70vh;
      top:10vh;
      background-color: var(--color1);
      display: flex;
      flex-direction:column;
      align-items: center;
      width:50%;
      transform: translateX(100%);
      transition:transform 0.5s ease-in;
      z-index: 9;
    }
    .nav-links li{
      opacity: 0.5;
    }
    .burger{
      display: block;
      margin: 1em;
    }
    .info-wrapper{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      'l-column''r-column';
      padding-top: 1em;
    }
    .c-wrapper{
      height: 100%;
      width: 100%;
      display:grid;
      grid-template-columns:1fr;
      grid-template-areas:
      'icon-c-wrapper''form-c-wrapper' ;
      padding-top: 1em;
      justify-content: space-between;
    }
    .icon-c-wrapper{
    display:none;
    }
    img.d-block.w-100{
      height:400px ;
     width:500px ;
   }
  }

  @media screen and (max-width: 237px){
    .nav-links{
      width: 60%;
      display: none;
    }
  } 

  @media screen and (max-width: 1312px){
    img.d-block.w-100{
      height:400px ;
     width:500px ;
   }
  } 

.nav-active{
  transform: translateX(0%);
}
