@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.pres{
  color:#f7e87b;
}
.containerPres{
  display: flex;
  content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /*color: white;*/
  font-weight: bold;
  border: 2px solid #F7F2B1;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
.hour{
  font-family: 'Big Shoulders Stencil Text', cursive;
  color:#f7e87b;
  text-align:center;
  margin-top: 2rem;
  font-size: 3em;
}
.ink{
  text-decoration: none;
  
  position: fixed;
	bottom: 0.1rem;
	right: 0.2rem;
  opacity: 0;
}
.ink:hover{
  opacity: 0.3;
  color:#F7F2B1;
  
}
                                  /*NAV BAR (nav_bar.php)*/
.body{
  background-image: url('../img/bg.jpg');
  font-family: 'Montserrat', sans-serif;
  font-family: 'Open Sans', sans-serif;
}
.navbar .navbar-brand{
  color: #F7F2B1;
  font-size: 2em;
}
.icon {
  font-size: 45px;
  letter-spacing: 2px;
  color:#F7F2B1;
  }
.btn{
  color: #F7F2B1 ;
  content: none;
}
.dropdown :focus{
  color: #F7F2B1;
  content: none;
  border-color: #F7F2B1;
}
.dropdown-toggle::after {
  content: none;
}
.dropdown-menu{ 
  background-color: transparent;
  border:0.5px solid #F7F2B1;
  
}
.dropdown .dropdown-item {
  background-color: transparent;
  font-size: 2em ;
  color:#F7F2B1;

}
.dropdown .dropdown:active{
  
  border-color:#302C01;

}
.dropdown .btn:active{
  border: 0px;

}
 :hover{
  border-color: #302C01;
}
.dropdown-item:hover{
  background-color: #f7e87b;
  color: #302C01;
}



                              /*NAV BAR (nav_bar.php)*/
/*---------------------------------------------------------------------------------------------*/                              

                              /*FORM*/
         

.container{
  display: flex;
  content: center;
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /*color: white;*/
  font-weight: bold;
  border: 2px solid #F7F2B1;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  padding: 20px;
  text-align: center;
  margin-top: 8em;
  overflow: hidden;
  
}
.container form{
  content: center;
  align-items: center; 
  text-align: center;
}

.form-group input{
  width: 700px;
  background-color: #f7e87b;
}
.title{
  color: #F7F2B1;
  font-size: 2em;
  text-align: center;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  font-weight: bold;
  border: 2px solid #F7F2B1;
  border-radius: 10px;
  width: 40%;
}
.content{
  margin: 4em;
  display: flex;
  justify-content: center;
  content: center;
  text-align: center;
}
.container .btn{
  color: #F7F2B1;
  border-color: #F7F2B1;

}

                              /*FORM*/

/*---------------------------------------------------------------------------------------------*/    

                              /*NAV BAR (nav_bar2.php)*/

.bodyy{
  background-color: #260b23;
}

                              /*NAV BAR (nav_bar2.php)*/



/*---------------------------------------------------------------------------------------------*/     

                              /*carousel (espacemembre.php)*/

.card{
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  margin-top: 5em;
}
.carousel .fas{
  color:#3815d4;
}
.bag .btn{
  font-size: 45px;
  letter-spacing: 2px;
  color:#F7F2B1;
}

                              /*carousel (espacemembre.php)*/

/*---------------------------------------------------------------------------------------------*/  

                              /* (espaceadmin.php)*/
section{
	background-position: center;
	text-align: center;
	margin-bottom: 0.6rem;
  height:auto;

}
.CA{
  display: flex;
  flex-direction: column;
}
.container2{
  margin-left: 6em;
  margin-right: 6em;
  display: flex;
  justify-content: center;
  content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /*color: white;*/
  font-weight: bold;
  border: 2px solid #F7F2B1;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 20px;
  text-align: center;
  overflow: hidden;
 

}
.container2 .btn{
  color: #F7F2B1;
  border-color: #F7F2B1;

}







/*---------------------------------------------------------------------------------------------*/    

                              /*NAV BAR (nav_bar3.php)*/
.bodyy .dropdown-menu{ 
  background-color: transparent;
  border:0.5px solid #F7F2B1;
  
}
.bodyy .dropdown .dropdown-item {
  background-color: transparent;
  font-size: 1em ;
  color:#F7F2B1 ;

}
.bodyy .dropdown-item:hover{
  background-color: #F7F2B1;
  color: #302C01;
}

                                /*NAV BAR (nav_bar3.php)*/
                              
                              
                              
/*---------------------------------------------------------------------------------------------*/     

                                /*espace admin (espaceadmin.php)*/
                              
.containerr{
  display: flex;
  flex-direction: column;
  margin-left: 4em;
  margin-right: 4em;
  margin-top: 4em;
}
table{
  background-color:lightgray;
  
}
tr td{
  padding: 1em;
}
.center{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4em;
 
}
.tdbutton{
 text-align:right;
}
.container3{
  margin-left: 6em;
  margin-right: 6em;
  display: flex;
  justify-content: center;
  content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  /*color: white;*/
  font-weight: bold;
  border: 2px solid #F7F2B1;
  border-radius: 20px;
  top: 50%;
  left: 50%;
  z-index: 2;
  padding: 20px;
  text-align: center;
  overflow: hidden;
}
#upPage{
	background-color:#260b23;
	color: #F7F2B1;
	padding: 0.5rem;
	border-radius: 3rem; 
	position: fixed;
	bottom: 2rem;
	right: 2rem;
  opacity: 0.3;

  scroll-behavior: smooth;

}
#upPage:hover{
	opacity: 1;
}



                                /*espace admin (espaceadmin.php)*/

/*---------------------------------------------------------------------------------------------*/  

                 /*espace membre (espacemembre.php)*/
.post-wrapper{
  display:grid;
  grid-template-columns:repeat(auto-fit,320px);
  gap: 20px;
  justify-content: center;
  padding-bottom: 50px;
}

.thumbnail{
  display:block;
  width:100%;
  height:180%;
  object-fit: cover;
}

.post-preview{
  background-color:#fff;
  padding:15px;
}
.post-tittle{
  color: black;
}
.post-intro{
  color: #4b5156;
  font-size:14px;
}

                 /*espace membre (espacemembre.php)*/
/*---------------------------------------------------------------------------------------------*/  


@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

html {
  font-family: 'Montserrat', Arial, sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background: #F2F3EB;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  border: solid 3px #474544;
  max-width: 768px;
  margin: 60px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  color: #474544;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  border-bottom: solid 2px #474544;
  margin: -0.512em auto;
  width: 80px;
}

.icon_wrapper {
  margin: 50px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px #474544;
	color: #474544;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;
	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color: #474544;
}

:-moz-placeholder { 
	color: #474544;
	opacity: 1;
}

::-moz-placeholder {
	color: #474544;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #474544;
}

#form_button {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }
  
  .underline {
    width: 68px;
  }
  
  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }
  
  .icon {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}
